.searchResultWrapper{
  display: flex;
  flex-direction: column;
  border: 3px solid orange;
  padding:3rem;
  color:#fff;
  background-color: #f97316;
}
.searchResult{
  border:2px black;
  min-height: 10rem;
  min-width: 40vw;
  color:#fff;
  background-color: #4b5563;
}
.pFont
{
  color: #fff;
  font-size: 1.2rem;
  font-weight:bolder;
  margin-left:10px;
}